@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
::selection{
  background: #05003d;
  color: #fff;
}
.container{
  max-width: 1100px;
}
.container .box{
  width: 30rem;
  height: 32rem;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 80px;
  padding-left: 20px;
  border-radius: 5px;
}
.container .box .image{
  height:12rem;
  width:12rem;
  background: #0d003e39;
  padding: 3px;
  border-radius: 50%;
}
.box .image img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
}
.box p{
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
}
.box .name_job{
  margin: 10px 0 3px 0;
  color: #000340;
  font-size:1.8rem;
  font-weight: 600;
}
.box .position{
  color: #484b82;
  font-size:1.1rem;
  font-weight: 600;
}
.box .skills{
  margin: 0.5rem;
  font-size: 1rem;
  letter-spacing: 1px;
  word-spacing: 1px;
  font-weight: 500;
  color:rgb(73, 73, 73);
}